body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background: #111827;
    color: white;
    position: fixed;
    padding: 25px;
}

.sidebar h2 {
    margin-bottom: 40px;
}

.sidebar a {
    display: block;
    color: #cbd5e1;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #1f2937;
    color: white;
}

.main {
    margin-left: 260px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #111827;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

tr:hover {
    background-color: #f3f4f6;
}

.badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.critical { background: #ef4444; color: white; }
.high { background: #f59e0b; color: white; }
.medium { background: #3b82f6; color: white; }
.low { background: #6b7280; color: white; }

.status-pending { background: #6b7280; color: white; }
.status-inprogress { background: #3b82f6; color: white; }
.status-resolved { background: #10b981; color: white; }

button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

input, select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    margin-right: 10px;
}