<!DOCTYPE html>
<html>
<head>
    <title>Urban Maintenance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="main" style="margin-left:0; text-align:center; padding-top:100px;">

    <div class="card" style="max-width:500px; margin:auto;">
        <h2>Urban Maintenance Management System</h2>
        <p style="color:gray;">AI-Based Civic Issue Management Platform</p>
        <br>
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button style="background:#10b981;">Register</button></a>
    </div>

</div>

</body>
</html>