<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="main" style="margin-left:0; padding-top:100px;">

    <div class="card" style="max-width:400px; margin:auto;">
        <h2>Register</h2>

        <form method="post">
            <input type="text" name="username" placeholder="Username" required>
            <br><br>
            <input type="password" name="password" placeholder="Password" required>
            <br><br>

            <select name="role" required>
                <option value="">Select Role</option>
                <option value="citizen">Citizen</option>
                <option value="employee">Employee</option>
            </select>

            <br><br>
            <button type="submit" style="width:100%;">Register</button>
        </form>
    </div>

</div>

</body>
</html>